<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
{#Find the url named form_new#}
<form action="{% url "form_new" %}" method="post" class="smart-green">
    <h1>Message
        <span>Please leave your message.</span>
    </h1>
    <label>
        <span>Name :</span>
        <input id="name" type="text" name="name"  value="{% ifequal my_message.name|slice:"8" "eddy"|slice:"8" %}
        Your nickname：eddy {% else %} Can not find your nickname
        {% endifequal %}" class="error" placeholder="Type your name"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>Email :</span>
        <input id="email" type="email" value="{{ my_message.email}}" name="email" placeholder="Tye your email"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>Address :</span>
        <input id="address" type="text" value="{{ my_message.address}}" name="address" placeholder="Type yout address"/>
        <div class="error-msg"></div>
    </label>

    <label>
        <span>Message :</span>
        <textarea id="message" name="message"  placeholder="Your question">{{ my_message.message }}</textarea>
        <div class="error-msg"></div>
    </label>
    <div class="success-msg"></div>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Submit"/>
    </label>
    {% csrf_token %}
</form>

</body>
</html>